@page "/car/{CarId:int}"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation


@if (Car!= null)
{
   <h3>Car</h3>
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="text-dark">Name: @Car.Name</span>
                <span class="text-muted text-dark"><strong>@Car.CarId</strong></span>
            </div>
            <div class="card-body">
                @if (Car.Seatbelts != 0) { <h4 class="card-title text-dark">Seatbelts: @Car.Seatbelts </h4> }
                @if (Car.Make != null) { <h4 class="card-title text-dark">Make: @Car.Make </h4> }
                @if (Car.Model != null) { <h4 class="card-title text-dark">Model: @Car.Model </h4> }
                @if (Car.Year != 0) { <h4 class="card-title text-dark">Year: @Car.Year </h4> } 
                @if (Car.Inactive == true) { <p class="card-text text-danger">This car is inactive. </p> }
                else { <p class="card-text text-dark">This car is active.</p> }
                @if(Car.Riders?.LastOrDefault() != default) {
                <h4 class="card-title text-dark">Assigned Driver: @Car.Riders.LastOrDefault()?.Name</h4>
                } else { <p class="card-text text-dark"> No canvasser currently assigned.</p> }
                @if(ridersCount > 0)
                {
                    <h4 class="text-dark">Past Drivers</h4> 
                    @foreach(CanvasserListItem c in Car.Riders)
                    {
                        <p class="text-dark">@c.Name</p>
                    }
                } else { <p class="card-text text-dark">No canvassers have been assigned to this vehicle.</p> }
                @if(Car.Teams?.LastOrDefault() != default) {
                <h4 class="card-title text-dark">This car is assigned to Team # @Car.Teams.LastOrDefault()?.TeamId</h4>
                } else { <p class="card-text text-dark"> This car is not currently assigned to a team.</p> }
                @if (Car.Notes != null) { <h4 class="card-title text-dark">Notes: @Car.Notes </h4> }
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left text-dark">Created: @Car.DateCreated</span>
                @if (Car.DateModified != null) { <span class="text-right text-dark">Last Changed: @Car.DateModified</span>}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/car/edit/{CarId}") class="btn btn-outline-secondary">Edit</a>
                <span style="width: 15px"></span>
                @if (Car.Inactive == false) { <a class="btn btn-danger" @onclick="() => ToggleActive(Car)">Deactivate</a> }
                else if (Car.Inactive == true) { <a class="btn btn-outline-danger" @onclick="() => ToggleActive(Car)">Activate</a> }
                <span style="width: 15px"></span>
                <hr />
                <a href=@($"/car/team/{CarId}") class="btn btn-outline-success">Assign to Team</a>
                <hr />
                <a href=@($"/car/canvasser/{CarId}") class="btn btn-outline-primary">Assign to Canvasser</a>
                <hr />
                <a href="/car">Back to List of Cars</a>
            </div>
        </div>
    </div> 
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int CarId { get; set; }
    private CarDetail Car { get; set; } = new CarDetail();
    int ridersCount;
    private string ErrorMessage { get;  set; }
    protected override async Task OnInitializedAsync()
    {
        Car = await http.GetFromJsonAsync<CarDetail>($"api/car/{CarId}");
        ridersCount = Car.Riders.Count;
    }

    private async void ToggleActive(CarDetail car)
    {
        car.Inactive = !car.Inactive;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/car/active/{car.CarId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/car/{car.CarId}"); }
        else { ErrorMessage = "Could not modify this car. Please try again."; }
    }
}
