@page "/canvasser/"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3 class="text-primary" >Active Canvassers</h3>
<a class="text-success" href="/canvasser/create">Add a Canvasser   |</a>
<a class="text-info" href="/canvasser/all">View All Canvassers</a>
<a class="text-danger" href="/canvasser/inactive">View Inactive Canvassers   |</a>
<a class="text-primary" href="/canvasser/driver">View Only Drivers   |</a>
<a class="text-info" href="/canvasser/leader">View Only Leaders   |</a>
<a class="text-secondary" href="/canvasser/trainee">View Only Trainees</a>

<hr />

<div class="row">
    <div class="col-md-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hideAbsent" @onclick="@HideAbsent">
            <label class="form-check-label" for="hideAbsent">Hide Absent</label>
        </div>
    </div>
</div>

<hr />


@if (Canvassers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var canvasser in Canvassers)
            {
                if (!hideAbsentChecked)
                {
                    @if (canvasser.Inactive == false)
                    {
                        <tr>
                            <td>@canvasser.CanvasserId</td>
                            
                            <td>
                                <a href=@($"canvasser/{canvasser.CanvasserId}") class="btn btn-primary btn-lg">@canvasser.Name</a>
                                <span style="width: 5px"></span>
                                <a href=@($"canvasser/edit/{canvasser.CanvasserId}") class="btn btn-outline-secondary">Edit</a>
                                <span style="width: 5px"></span>
                                <a class="btn btn-danger" @onclick="() => ToggleActive(canvasser)">Deactivate</a> 
                                <span style="width: 15px"></span>
                                 @if (canvasser.IsAbsent == false) { <a class="btn btn-success" @onclick="() => ToggleAbsent(canvasser)">Mark as Absent</a> }
                                 else if (canvasser.IsAbsent == true) { <a class="btn btn-outline-success" @onclick="() => ToggleAbsent(canvasser)">Mark as Present</a>}
                                 <span style="width: 5px"></span>
                                 <a href=@($"/canvasser/car/{canvasser.CanvasserId}") class="btn btn-outline-warning">Add to Car</a>
                                 <span style="width: 5px"></span>
                                 <a href=@($"/canvasser/site/{canvasser.CanvasserId}") class="btn btn-outline-primary">Add to Site</a>
                                 <span style="width: 5px"></span>
                                 <a href=@($"/canvasser/team/{canvasser.CanvasserId}") class="btn btn-outline-success">Add to Team</a>
                                 <span style="width: 15px"></span>
                                 @if (canvasser.IsDriver == false) { <a class="btn btn-warning" @onclick="() => ToggleDriver(canvasser)">Promote to Driver</a> }
                                 else if (canvasser.IsDriver == true) { <a class="btn btn-outline-warning" @onclick="() => ToggleDriver(canvasser)">Revoke Driving Privileges</a>}
                                 <span style="width: 15px"></span>
                                @if (canvasser.IsLeader == false) { <a class="btn btn-primary" @onclick="() => ToggleLeader(canvasser)">Promote to Leader</a> }
                                else if (canvasser.IsLeader == true) { <a class="btn btn-outline-primary" @onclick="() => ToggleLeader(canvasser)">Demote from Leader</a>}
                                <span style="width: 15px"></span>
                                @if (canvasser.IsTraining == true) { <a class="btn btn-secondary" @onclick="() => ToggleTrainee(canvasser)">Promote from Trainee</a> }
                                else if (canvasser.IsTraining == false) { <a class="btn btn-outline-secondary" @onclick="() => ToggleTrainee(canvasser)">Make Trainee</a>}
                            </td>
                        </tr>
                    }
                }
                else if (hideAbsentChecked)
                {
                    @if (canvasser.Inactive == false)
                    {
                        if (canvasser.IsAbsent == false)
                        {
                            <tr>
                                <td>@canvasser.CanvasserId</td>
                                <td>@canvasser.Name</td>
                                <td>
                                    <a href=@($"canvasser/{canvasser.CanvasserId}") class="btn btn-outline-info">Details</a>
                                    <span style="width: 5px"></span>
                                    <a href=@($"canvasser/edit/{canvasser.CanvasserId}") class="btn btn-outline-secondary">Edit</a>
                                    <span style="width: 5px"></span>
                                    <a href=@($"canvasser/delete/{canvasser.CanvasserId}") class="btn btn-outline-danger">Delete</a>
                                    <span style="width: 5px"></span>
                                    <a class="btn btn-outline-danger" @onclick="() => ToggleActive(canvasser)">Deactivate</a>
                                    <span style="width: 5px"></span>
                                    <a class="btn btn-outline-success" @onclick="() => ToggleAbsent(canvasser)">Mark as Absent</a>
                                    <span style="width: 15px"></span>
                                    @if (canvasser.IsDriver == false) { <a class="btn btn-warning" @onclick="() => ToggleDriver(canvasser)">Promote to Driver</a> }
                                    else if (canvasser.IsDriver == true) { <a class="btn btn-outline-warning" @onclick="() => ToggleDriver(canvasser)">Promote to Leader</a>}
                                    <span style="width: 15px"></span>
                                    @if (canvasser.IsLeader == false) { <a class="btn btn-primary" @onclick="() => ToggleLeader(canvasser)">Promote to Leader</a> }
                                    else if (canvasser.IsLeader == true) { <a class="btn btn-outline-primary" @onclick="() => ToggleLeader(canvasser)">Demote from Leader</a>}
                                </td>
                            </tr>
                            }
                        }
                    }
                }
        </tbody>
    </table>
}
<a href=@($"/") class="btn btn-primary btn-block btn-lg">Home</a>

@code {
    private List<CanvasserListItem> Canvassers;
    private string ErrorMessage { get;  set; }
    private bool hideAbsentChecked { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        Canvassers = await http.GetFromJsonAsync<List<CanvasserListItem>>("api/canvasser"); 

    }
    private async Task HideAbsent()
    {
        hideAbsentChecked = !hideAbsentChecked;
    }
    private async void ToggleAbsent(CanvasserListItem canvasser)
    {
        canvasser.IsAbsent = !canvasser.IsAbsent;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/absent/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
    private async void ToggleActive(CanvasserListItem canvasser)
    {
        canvasser.Inactive = !canvasser.Inactive;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/active/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
    private async void ToggleDriver(CanvasserListItem canvasser)
    {
        canvasser.IsDriver = !canvasser.IsDriver;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/driver/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }

    private async void ToggleLeader(CanvasserListItem canvasser)
    {
        canvasser.IsLeader = !canvasser.IsLeader;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/leader/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }

    private async void ToggleTrainee(CanvasserListItem canvasser)
    {
        canvasser.IsTraining = !canvasser.IsTraining;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/trainee/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
}
