@page "/canvasser/driver/inactive"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3 class="text-danger" >Inactive Drivers</h3>
<a class="text-success" href="/canvasser/create">Add a Canvasser   |</a>
<a class="text-primary" href="/canvasser/driver/all">View All Drivers   |</a>
<a class="text-info" href="/canvasser/">View Active Canvassers</a>

<hr />

<div class="row">
    <div class="col-md-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hideAbsent" @onclick="@HideAbsent">
            <label class="form-check-label" for="hideAbsent">Hide Absent</label>
        </div>
    </div>
</div>

<hr />


@if (_canvassers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var canvasser in _canvassers)
            {
                if (!hideAbsentChecked)
                {
                    @if (canvasser.Inactive == true && canvasser.IsDriver == true)
                    {
                        <tr>
                            <td>@canvasser.CanvasserId</td>
                            <td>
                                <a href=@($"canvasser/{canvasser.CanvasserId}") class="btn btn-outline-light btn-lg">@canvasser.Name</a>
                                <span style="width: 5px"></span>
                                <a href=@($"canvasser/edit/{canvasser.CanvasserId}") class="btn btn-outline-secondary">Edit</a>
                                <span style="width: 15px"></span>
                                 @if (canvasser.IsAbsent == false) { <a class="btn btn-success" @onclick="() => ToggleAbsent(canvasser)">Mark as Absent</a> }
                                 else if (canvasser.IsAbsent == true) { <a class="btn btn-outline-success" @onclick="() => ToggleAbsent(canvasser)">Mark as Present</a>}
                                 <span style="width: 5px"></span>
                                <a class="btn btn-outline-danger" @onclick="() => ToggleActive(canvasser)">Deactivate</a>
                                <span style="width: 15px"></span>
                                <a class="btn btn-outline-warning" @onclick="() => ToggleDriver(canvasser)">Revoke Driving Privileges</a>
                            </td>
                        </tr>
                    }
                }
                else if (hideAbsentChecked)
                {
                    @if (canvasser.Inactive == true && canvasser.IsDriver == true)
                    {
                        if (canvasser.IsAbsent == false)
                        {
                            <tr>
                                <td>@canvasser.CanvasserId</td>
                                <td>
                                    <a href=@($"canvasser/{canvasser.CanvasserId}") class="btn btn-outline-light btn-lg">@canvasser.Name</a>
                                    <span style="width: 5px"></span>
                                    <a href=@($"canvasser/edit/{canvasser.CanvasserId}") class="btn btn-outline-secondary">Edit</a>
                                    <span style="width: 15px"></span>
                                     @if (canvasser.IsAbsent == false) { <a class="btn btn-success" @onclick="() => ToggleAbsent(canvasser)">Mark as Absent</a> }
                                     else if (canvasser.IsAbsent == true) { <a class="btn btn-outline-success" @onclick="() => ToggleAbsent(canvasser)">Mark as Present</a>}
                                     <span style="width: 5px"></span>
                                    <a class="btn btn-outline-danger" @onclick="() => ToggleActive(canvasser)">Deactivate</a>
                                    <span style="width: 15px"></span>
                                    <a class="btn btn-outline-warning" @onclick="() => ToggleDriver(canvasser)">Revoke Driving Privileges</a>
                                </td>
                            </tr>
                            }
                        }
                    }
                }
        </tbody>
    </table>
}

@code {
    private List<CanvasserListItem> _canvassers;
    private bool hideAbsentChecked { get; set; } = false;
    private string ErrorMessage { get;  set; }
    protected override async Task OnInitializedAsync()
    {
        _canvassers = await http.GetFromJsonAsync<List<CanvasserListItem>>("api/canvasser"); 

    }
    private async Task HideAbsent()
    {
        hideAbsentChecked = !hideAbsentChecked;
    }

    private async void ToggleActive(CanvasserListItem canvasser)
    {
        canvasser.Inactive = !canvasser.Inactive;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/active/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/driver"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
    private async void ToggleDriver(CanvasserListItem canvasser)
    {
        canvasser.IsDriver = !canvasser.IsDriver;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/driver/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/driver"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }

    private async void ToggleAbsent(CanvasserListItem canvasser)
    {
        canvasser.IsAbsent = !canvasser.IsAbsent;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/canvasser/absent/{canvasser.CanvasserId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/driver"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
}
