@page "/team/{TeamId:int}"
@attribute [Authorize]
@inject HttpClient http


@if (Team!= null)
{
   <h3>Team</h3>
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Name: @Team.Name</span>
                <span class="text-muted"><strong>@Team.TeamId</strong></span>
            </div>
            <div class="card-body">
                @if(Team.Cars?.LastOrDefault() != default) {
                <h4 class="card-title">Team: @Team.Cars.LastOrDefault()?.Name</h4>
                } else { <p class="card-text"> No car currently assigned.</p>}      
                <h4 class="card-title">Canvassers: </h4>
                <ul>@foreach(CanvasserListItem c in Team.Canvassers)
                {
                    
                    <li>@c.Name</li>
                    
                }</ul>
                
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left">Created: @Team.DateCreated</span>
                @if (Team.DateModified != null) { <span class="text-right">Last Changed: @Team.DateModified</span>}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/team/edit/{TeamId}") class="btn btn-outline-primary">Edit</a>
                <a href=@($"/team/delete/{TeamId}") class="btn btn-outline-danger">Delete</a>
                <hr />
                <a href="/team">Back to List of Cars</a>
            </div>
        </div>
    </div> 
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int TeamId { get; set; }
    private TeamDetail Team = new TeamDetail();
    protected override async Task OnInitializedAsync()
    {
        Team = await http.GetFromJsonAsync<TeamDetail>($"api/team/{TeamId}");
    }
}
